{erl_opts, [debug_info]}.

{deps, [
  {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.5.2"}}},
  {riakc, "2.5.3", {git, "https://github.com/basho/riak-erlang-client", {tag, "2.5.3"}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
  {sha3, {git, "https://github.com/b/sha3.git", {branch, "master"}}},
  {hex, {git, "git://github.com/b/hex", {branch, "master"}}}
]}.

{relx, [{release, {shorturl, "0.1.0"},
        [shorturl,jiffy,hex,sha3,cowboy,ssl,lager,riakc, riak_pb]},
       {dev_mode, false},
       {include_erts, true},
       {extended_start_script, true}
]}.